<!-- index.ejs -->

<div class="container-fluid py-4">
    <h1>EVENTS</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0 d-flex align-items-center justify-content-between">
                    <h6>Events list</h6>
                    <a class="btn btn-primary btn-sm mb-0" href="/events/create" type="button">Add new</a>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name of Destination</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date of Departure</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Maximum Number of Places</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody id="event-table-body">
                                <!-- Les données des événements seront insérées ici -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.7/dist/sweetalert2.min.css">

<script>
    fetch('http://127.0.0.1:3000/api/events')
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('event-table-body');

            data.forEach(event => {
                const NameCell = `
                <td>
                        <div class="d-flex px-2 py-1">
                            <div>
                                <img src="${event.eventPicture}" class="avatar avatar-sm me-3" alt="user">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <p class="text-xs text-secondary mb-0">${event.nameDestination}</p> 
                               
                            </div>
                        </div>
                    </td>
                `;
                
                const DateCell = `
                    <td>
                        <p class="text-xs font-weight-bold mb-0">${event.Dateofdeparture}</p>
                    </td>
                `;

                const PriceCell = `
                    <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold mb-0">${event.prix}</p>
                    </td>
                `;

                const DescriptionCell = `
                    <td>
                        <p class="text-xs font-weight-bold mb-0">${event.description}</p>
                    </td>
                `;

                const MaxPlacesCell = `
                    <td class="align-middle text-center">
                        <p class="text-secondary text-xs font-weight-bold">${event.maximumNumberOfplaces}</p>
                    </td>
                `;

                const actionCell = `
                    <td class="align-middle">
                        <button class="btn btn-link btn-sm" onclick="editEvent('${event.id}')">Modifier</button>
                        <button class="btn btn-link btn-sm" onclick="deleteEvent('${event.id}')">Supprimer</button>
                    </td>
                `;

                const row = `<tr>${NameCell}${DateCell}${PriceCell}${DescriptionCell}${MaxPlacesCell}${actionCell}</tr>`;
                tableBody.innerHTML += row;
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });
        
function editEvent(eventId) {
    // Code pour gérer l'action de modification de l'événement
    // Rediriger vers la page de modification de l'événement avec l'ID de l'événement
    window.location.href = `/events/update/${eventId}`;
}

function deleteEvent(eventId) {
   Swal.fire({
            title: 'Confirmation',
            text: "Voulez-vous vraiment supprimer cet utilisateur ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Oui, supprimer',
            cancelButtonText: 'Annuler'
        }).then((result) => {
            if (result.isConfirmed) {
                // Si l'utilisateur clique sur "Oui", supprimer l'utilisateur
                fetch(`http://127.0.0.1:3000/api/events/${eventId}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    console.log('User deleted:', data.deletedUser);
                    // Afficher une alerte de succès après la suppression
                    Swal.fire('Supprimé !', 'L\'événement a été supprimé avec succès.', 'success');
                    // Recharger la page pour actualiser le tableau
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        });
    }

</script>
